name: MLflow CI Training & Docker

on:
  push:
    paths:
      - MLProject/**

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install MLflow and dependencies
        run: |
          pip install --upgrade pip
          pip install mlflow==2.18.0 numpy pandas scikit-learn scipy matplotlib

      - name: Run MLflow Project (Training)
        run: |
          cd MLProject
          mlflow run . --no-conda

      - name: Docker Login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image with MLflow
        run: |
          cd MLProject
          mlflow models build-docker \
            -m runs:/latest/model \
            -n rizkye99/eafc26-model

      - name: Push Docker Image to Docker Hub
        run: |
          docker push rizkye99/eafc26-model
